.createButton {

}


.button {
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure the button takes up the full container width */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add a slight shadow */
  padding: 10px 20px; /* Add padding to make the button more visible */
  margin-top: 40px;
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Center the text inside the button */
  cursor: pointer; /* Add pointer cursor on hover */
  font-weight: bold; /* Make the text bold */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: box-shadow 0.2s, transform 0.2s;
}

.button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Modify shadow on hover */
  transform: scale(1.05); /* Enlarge the button slightly on hover */
}